<launch>
  <node name="agvc_coordinator" pkg="agvc_coordinator" type="agvc_coordinator" output="screen">
    <param name="joystick" value="true" />
  </node>

  <node name="joy_node" pkg="joy" type="joy_node" output="screen" />

  <node pkg="xsens_driver" type="mtnode.py" name="xsens_driver" output="screen" >
		<param name="frame_id" value="/base_imu" />
		<remap from="/imu/data" to="/raw_imu" />
		<param name="port" value="/dev/ttyUSB0"/>
		<param name="baudrate" value="115200"/>
	</node>
</launch>
